.label {
    -fx-background-color: #FFFACD;
    -fx-border-color: #F0E68C;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 6px;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.error-label {
    -fx-background-color: linear-gradient(to bottom right, #FFECEC, #FFD6D6);
    -fx-border-color: #FF6B6B;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-padding: 6px;
    -fx-text-fill: #780000;
    -fx-font-weight: bold;
    -fx-max-width: 260px;
    -fx-wrap-text: true;
}

.error-box {
    -fx-effect: dropshadow( gaussian , rgba(255, 0, 0, 0.06) , 8, 0.5 , 0 , 2);
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

